<h1>Add a new LOOOOOONNNNNNGGG</h1>

<form action="/" method="POST">
  <div>
    <label for="long_url">Long URL</label>
    <input type="url_test" name="original_link" >
  </div>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
<button type="submit">Add LINK</button>
</form>

<ul>
  <% @links.each do |link| %>
  <li>id:  <%= link.id %>  | original_url <%= link.original_url %>  | shortcut: <%= link.shortcut %> | counter: <%= link.counter %>
  </li>
<% end %> 
</ul>